.slick-track {
  display: flex;
  margin: 5px;
}
.slick-slider {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.slick-slide {
  padding-right: 10px;
}

.slick-slide:last-child {
  padding-right: 0;
}
.slick-slide img {
  display: block;
}
.slick-list {
  margin: 0 15px;
}

.slick-prev {
  width: 50px;
  left: 0;
  top: 20%;
  position: absolute;
  height: 50px;
  background: #041c5c;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.slick-next {
  width: 50px;
  right: 0;
  top: 20%;
  position: absolute;
  height: 50px;
  background: #041c5c;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.slick-prev:focus,
.slick-prev:hover,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: #041c5c;
}
.product-actions {
  display: flex;
  justify-content: space-between;
}

.dotsStyle {
  bottom: -20px !important;
}

.dotsStyle button {
  background: #d9d9d9 !important;
}

.dotsStyle button::before {
  /* display: none; */
  color: transparent !important;
}

.dotsStyle li {
  height: 10px !important;
  width: 10px !important;
  background-color: #d9d9d9;
  border-radius: 100%;
}

.dotsStyle .slick-active {
  width: 30px !important;
  background-color: #c4c4c4;
  border-radius: 10px;
}

.dotsStyle .slick-active button {
  display: none !important;
}

.dotsStyle .slick-active button:hover {
  background: transparent !important;
}

/* .hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 100px;
    height: 100px;
    overflow: hidden;
  } */
