.input-phone-number input:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
.PhoneInputInput {
  /* The phone number input stretches to fill all empty space */
  flex: 1;
  /* The phone number input should shrink
         to make room for the extension input */
  min-width: 0;
  border: 0px;
}
